<div class="bg-dark">
  <div class="mt-5 pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h1>Edit article</h1>
        </div>
        <div class="card-body">
         <%= render 'form' %>
        </div>
        </div>
        <%= link_to 'Back', articles_path ,class: "btn btn-secondary mt-4" %>
      </div>
    </div>
  </div>      