<body class="bg-danger">
<div class="container mt-5 mx-auto">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>New article</h1>
        </div>
        <div class="card-body">
          <%= render 'form' %>

          <%= link_to 'Back', articles_path,class:"btn btn-primary float-right" %>
        </div>
      </div>
    </div>
  </div>
</div>      
</body>